{% extends "bootstrap/base.html" %}
{% block title %} Mulyrica {% endblock %}

{% block content %}
	<h1 class="page-header text-center"><strong>Mulyrica</strong></h1>
	<div class="container">
	<h3 class="text-center text-center">Enter the name and song of an artist: </h3>
		<div class="row-fluid well center-block">
			<form autocomplete="on" method="post" class="form-inline">
			{{ form.csrf_token }}
				<div class="form-group">
				<span>
					<label for="artist">Artist</label>
						{{ form.artist(class_="form-control",placeholder="Michael Jackson") }}
					<label for="song">Song</label>
						{{ form.song(class_="form-control",placeholder="Beat it") }}
				</span>
				</div>
					{{ form.submit(class_="btn btn-default",value="Search") }}
			</form>
		</div>
		{% if results %}
		<div class="row">
			<div col="col-sm-6">
			<h2 class="text-center">Lyrics</h2>
				<div class="center-block well">
				<p class="text-center">
					{% for sentence,result in results %}
						{{ sentence }}
						<br />
						<span class="text-primary">{{ result }}</span>
						<br />
					{% endfor %}					
				</p>
				</div>
				<div class="well">
					<ul class="text-primary">
						<li>Neutral: {{analysis['neu']}}</li>						
						<li>Negative: {{analysis['neg']}}</li>						
						<li>Positive: {{analysis['pos']}}</li>						
						<li>Compound: {{analysis['compound']}}</li>						
					</ul>
				</div>
			</div>
		</div>
		{% endif %}
	</div>
{% endblock %}
