{% extends "bootstrap/base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('.static',filename='style.css')}}">
{% endblock %}

{% block scripts %}
<script src="{{url_for('.static',filename='script.js')}}"</script>
{{super()}}
{% endblock %}

{% block title %} Mulyrica {% endblock %} {% block content %}
<h1 class="page-header text-center logo">
	<strong id="logo2">&#956;</strong>lyrica.
</h1>
<div class="container">
		<form autocomplete="on" method="post" class="form-inline">
			{{ form.csrf_token }}
			<div class="form-group">
				<span>
					<label for="artist">Artist</label>
					{{ form.artist(class_="form-control",placeholder="Michael Jackson") }}
					<label for="song">Song</label>
					{{ form.song(class_="form-control",placeholder="Beat it") }}
				</span>
			</div>
			{{ form.submit(class_="mbutton",value="Search") }}
		</form>
	<!-- </div> -->
	{% if results %}
	<div class="row">
		<div class="col-sm-4">
			<h2 class="text-center">Analysis</h2>
			<div class="center-block analysis">
				<p class="text-center">
					{% for tweet in tweets %} 
						{{ tweet }}
						<br />
					{% endfor %}
				</p>
			</div>
		</div>
		<div class="col-sm-4">
			<h2 class="text-center">Lyrics</h2>
			<div class="center-block lyrics">
				<p class="text-center">
					{% for sentence,result in results %} {{ sentence }}
					<br /> {% endfor %}
				</p>
			</div>
		</div>
			<div class="col-sm-4">
				<h2 class="text-center">Stats</h2>
				<div class="center-block stats">
					<ul class="text-primary text-justify">
						<li>Neutral: {{analysis['neu']}}</li>
						<li>Negative: {{analysis['neg']}}</li>
						<li>Positive: {{analysis['pos']}}</li>
						<li>Compound: {{analysis['compound']}}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
	{% include 'footer.html' %}
<!-- </div> -->
{% endblock %}
